## **1.program to compute the area of cirlce**

In [0]:
#program to compute the area of cirlce

In [0]:
import math as m

In [0]:
r=int(input(('enter the radius of circle ')))
area=float(((m.pi)*r*r))
print('the area of circle with radius',r,'is ',area)

enter the radius of circle 4
the area of circle with radius 4 is  50.26548245743669

## **2.program to get the first and last name from the user and print it in the reverse order with space in between**

In [0]:
#program to get the first and last name from the user and print it in the reverse order with space in between
def reverse(s): 
  str = "" 
  for i in s: 
    str = i +" "+ str
  return str
s=input('enter the frist and the last name of the user\n')
print('the original string is',s)

print("the reverse of the string",reverse(s))

enter the frist and the last name of the user
pradnya karve
the original string is pradnya karve
the reverse of the string e v r a k   a y n d a r p

## **3.program to check the number is divisbile by 3**

In [41]:
#program to check the number is divisible by 3 or not
num=int(input('enter the number '))
if num%3==0:
  print('the number is divisbile by 3')
else:
 print('the number is not divisible by 3')

enter the number 6
the number is divisbile by 3

## **4.program to do math functions**

In [0]:
#program for math functions
angle=180
a=m.tan(angle)
print('the tan of angle is ',a)
b=m.sin(angle)
print('the sin of angle is ',b)
c=m.cosh(angle)
print('the cosh of angle is ',c)
d=m.sinh(angle)
print('the sinh of angle is ',d)
print(m.gcd(3,2))
print(m.factorial(3))
print(m.trunc(3.14526))

the tan of angle is  1.3386902103511544
the sin of angle is  -0.8011526357338304
the cosh of angle is  7.446921003909191e+77
the sinh of angle is  7.446921003909191e+77
1
6
3

### **5.program to do sum of squares**

In [0]:


#program to do sum of squares
def squaresum(n):
  sum=0
  for i in range(1,n+1):
     sum=sum+(i*i)
  return sum

n=int(input('enter the value of n '))
print('the sum of squares of n numbers is',squaresum(n))

enter the value of n 6
the sum of squares of n numbers is 91

# **6.Write a void function that receives a 4 digit number and calculates the sum of squares of first 2 digits number and last two-digit number (Hint:- if 1233 is passed as an argument then the function should calculate 12**2+33**2 **)

In [0]:

#program to calculate sum of sqaures of 2 digits out of 4 digit number
n=int(input('enter a 4 digit number '))
x=n//100
x1=n-x*100
print(math.pow(x,2)+math.pow(x1,2))

enter a 4 digit number 1234
1300.0

## **7**. **function to check whether the number is prime or not**

In [5]:
def prime(a):
  if a%2==0:
    print("the number is  not a Prime Number ")
  else:
    print("the number is a Prime Number ")

#program to invoke this function

a=int(input("enter the number "))
print(prime(a))

enter the number 11
the number is a Prime Number
None

## **8**.**wap that takes character as an input and return true if it is a vowel otherwise fasle.**

In [8]:
ch=(input("enter the character value "))
if(ch=="a"or ch=="e"or ch=="i" or ch=="o" or ch=="u" or ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U"):
  print(True)
else:
  print(False)

enter the character value a
True

# **9**.**program to find the cube of last digit**

In [13]:
num=input("enter the number ")
last_digit=num[-1]

def cube(last_digit):
  a=pow(int(last_digit),3)
  return a


print(cube(last_digit))

enter the number 4567
343

# **10.program to return the unique elements of a list from the user**

In [40]:

!pip install numpy
import numpy as np

list=[]
n=int(input("enter the number of elements "))
for i in range(0,n):
  ele=int(input())
  list.append(ele)
print(list)


def unique(list):
  x=np.array(list)
print(np.unique(list))

print(unique(list))

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.2)
enter the number of elements 8
1
1
1
2
3
3
4
5
[1, 1, 1, 2, 3, 3, 4, 5]
[1 2 3 4 5]
None

In [0]:
853

list=[]
n=int(input("enter the number of elements "))
for i in range(0,n):
  ele=int(input())
  list.append(ele)
print(list)